/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Esto coniverte todos los rem a 10 px*/
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
    --colorFooter: #515151;
}
/** CONFIGURACIONES GLOBALES **/
header{
    background-color: #B61E2A;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
a{
    text-decoration: none;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}
img{
    width: 100%;
}
.contenedor{
    margin: 0 5%;
}
/* BARRA DE NAVEGACIÓN */
.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}  
.nav_bar_enlace{
    margin: 1.4rem;
}
.logo_con_nombre{
    padding: 1rem;
}
.nav__bar__logo{
    width: 20rem;
}
/* Fin de la barra de navegación */

/*Cuerpo */
.container{
    height: 1200px;
    margin-top: 70px;
    width: 510px;
}
/*Titulo principal del cuerpo*/
.container h5{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
/*Logo de la facultad*/
.facat{
    float: left;
    margin-left: 22%;
}
.p-2 img{
    height: 90%;
    width: 62%;
}
/*Datos del alumno*/
.datosalumno{
    text-align: left;
}
.datosalumno h5{
    text-align: left;
}
.datosalumno p{
    font-size: 12px;
    margin-bottom: 18px;
}
/*CSS de la descripcion del contenido de la pagina*/
.descripcion{
    width: 510px;
}
.descripcion p{
    text-align: left;
}
.dlproyecto img{
    height: 70%;
    width: 70%;
    margin-left: 10%;
    padding-top: 7%;
}
/*Rating dinamico de estrella*/
.rate {
    float: left;
    height: 46px;
    padding: 0 60px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* FOOTER */
footer {
    background-color: var(--colorFooter);
    padding: 5rem 0;
}
.footer{                                /* Display de Grid al Footer para desplegar el texto y el mapa*/
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: 0 20%; /* Esto centra las dos grillas  */
    column-gap: 5rem; /* Esto añade separacion entre las grillas*/
}

.footer__texto{             /* Todos los textos del Footer */
    font-size: 1.5rem;
    margin: 0 2rem;
    color: var(--blanco);
}

.footer__titulo{ /* Los títulos del Footer llevan esta clase (UNAE - UBICACIÓN) */
    color: var(--blanco);
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.info__contacto{ /* Div que contiene los tres textos con sus pines*/
    border-top: 1px solid var(--blanco);
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}

.contacto__ubicacion{  /* Div que contiene un pin y el texto que lo acompaña */
    display: flex;
    align-items: center;
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}


.contacto__ubicacion__pin { /* CLASE PARA LAS IMAGENES AL LADO DEL TEXTO*/
    width: 3rem; 
    height: 3rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 17px;
}

.redes__sociales{ /* El que dice: Seguinos en... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes__sociales__texto{
    margin: 1rem 0;
}

.footer__mapa{
    display: flex;
    flex-direction: column; /* Esto es pa que se alinee el titulo con el mapa*/
    align-items: center;
}

.mapa{
    border-top: 1px solid var(--blanco); /* Esto deja la linea debajo de "ubicación*/
    padding: .8rem 0;
}
