/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 60%; /* Esto coniverte todos los rem a 10 px*/

    

}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
}

/** CONFIGURACIONES GLOBALES **/

header{
    background-color: #B61E2A;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
p  { font-size: 2rem; }

a{
    text-decoration: none;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 800;
}


img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;

}



body{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    margin: 0 5%;
}
 /* BARRA DE NAVEGACIÓN */

.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}  


.nav_bar_enlace{
    margin: 1.4rem;
}

.logo_con_nombre{
    padding: 1rem;

}

.nav__bar__logo{
    width: 20rem;
}

/* Fin de la barra de navegación */
.logo{
    width: 50rem;
}

/* 
.contacto__texto{
    font-family: var(--FuenteHeading);
    color: rgb(75, 128, 110);
}

.contacto{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50rem;
}
*/ 

/*sidebar*/

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pagina de mensaje de error */
.mensaje {
  text-align: center;  
  margin-top: 10rem;
  font-size: 1.4rem;
}

.error{
  display: flex;  
  flex-direction: column;
  align-items: center;
justify-content: center;
margin-bottom: 50rem;
}
 .error-imagen {
     width: 40rem;
 }

.error-boton { 
    border: none;
    background-color:#B61E2A;
    padding: .8rem;
    border-radius: 5px;
    color: white;
    margin: 3rem;
}
