/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Esto coniverte todos los rem a 10 px*/
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
}
/** CONFIGURACIONES GLOBALES **/
header{
    background-color: #B61E2A;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
a{
    text-decoration: none;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}
img{
    width: 100%;
}
.contenedor{
    margin: 0 5%;
}
/* BARRA DE NAVEGACIÓN */
.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}  
.nav_bar_enlace{
    margin: 1.4rem;
}
.logo_con_nombre{
    padding: 1rem;
}
.nav__bar__logo{
    width: 20rem;
}
/* Fin de la barra de navegación */

/*Cuerpo */
.btn{
width: 15rem;
border-radius: 10px; 
}
.años{
  display: flex;
  flex-direction: column; 
}

.campo{
  display: flex;

}

.campo-label{
  flex: 0 0 9rem;
  text-align: left;
  padding-right: 2rem;
}

.campo-input{
  flex: 1;
  width: 15%;

}



