/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Esto coniverte todos los rem a 10 px*/
    margin: 0;
    padding: 0;


}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
}

/** CONFIGURACIONES GLOBALES **/

header{
    background-color: #B61E2A;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
p  { font-size: 2rem; }

a{
    text-decoration: none;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}


img {
    width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.contenedor{
    margin: 0 5%;
}

/* BARRA DE NAVEGACIÓN */

.nav__bar__enlaces a:hover{
    color: var(--blanco);
    text-decoration: underline;
}

.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}  


.nav_bar_enlace{
    margin: 1.4rem;
}

.logo_con_nombre{
    padding: 1rem;

}

.nav__bar__logo{
    width: 20rem;
}

/* Fin de la barra de navegación */
.logo{
    width: 50rem;
}

.contacto__texto{
    font-family: var(--FuenteHeading);
    color: rgb(75, 128, 110);
}

.contacto{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50rem;
}
/* FORMULARIO */
.formulario__campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.formulario__label{
    font-family: var(--FuenteHeading);
    font-size: 1.6rem;
    flex: 0 0 10.1rem;
}

.formulario__field{
    flex: 1;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

/*Botoneh*/
.formulario__boton{
    border: none;
    background-color: #8d1818;
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    padding: .8rem;
    margin: .5rem;
    border-radius: 8px;
}

/*Esto hace que el cursor se ponga como un apuntador al pasar por el boton, ya que se pierede este efecto una vez es modificado*/

/*sidebar*/

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Pagina de Carreras */
.form-check-input{
    width: 20px; height: 20px;
}


.carreras_titulo{
    font-family: var(--FuenteHeading);
    font-weight: 700;
}

.carrera_label {
    font-size: 1.4rem;
}

.carreras_lista{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
}

.carreras__facultad{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar_buscador{
    grid-column: 3/4;
}

.lupa{
    background-color: #8d1818;
    width: 3rem;
    padding: .7rem;
    border-radius: 50%;
}

.buscador input{
    border: solid 1px #FBF6F6;
    border-radius: 8px;
    background-color: #FBF6F6;
    height: 25px;
    width: 130px;
    padding: 1.2rem;
}

::placeholder{
    color: #000000;
    font-size: 1.4rem;
}



/* PAGINA WEB 4*/

.texto__FCHJS{
    margin-top: 10rem;
}

.web4{
    margin-bottom: 20rem;
}



