/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5% !important; /* Esto coniverte todos los rem a 10 px*/
    margin: 0;
    padding: 0;


}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
    --colorFooter: #515151;
}

/** CONFIGURACIONES GLOBALES **/

header{
    background-color: #B61E2A;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
p  { font-size: 2rem; }

a{
    text-decoration: none;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;

}


img {
    width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


.checkbox{
    width: 20px;
    height: 20px;
}
.contenedor{
    margin: 0 5%;
}

/* BARRA DE NAVEGACIÓN */

.nav__bar__enlaces a:hover{
    color: var(--blanco);
    text-decoration: underline;
}

.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}  


.nav_bar_enlace{
    margin: 1.4rem;
}



.logo_con_nombre{
    padding: 1rem;

}

.nav__bar__logo{
    width: 20rem;
}

/* Fin de la barra de navegación */
.logo{
    width: 50rem;
}

.contacto__texto{
    font-family: var(--FuenteHeading);
    color: rgb(75, 128, 110);
}

.contacto{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50rem;
   margin-top: 10rem;
}
/* FORMULARIO */
.formulario__campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.formulario__label{
    font-family: var(--FuenteHeading);
    font-size: 1.6rem;
    flex: 0 0 10.1rem;
}

.formulario__field{
    flex: 1;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

/*Botoneh*/
.formulario__boton{
    border: none;
    background-color: #8d1818;
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    padding: .8rem;
    margin: .5rem;
    border-radius: 8px;
}

/*Esto hace que el cursor se ponga como un apuntador al pasar por el boton, ya que se pierede este efecto una vez es modificado*/

/*sidebar*/

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Pagina de Carreras */
.form-check-input{
    width: 20px; height: 20px;
}


.carreras_titulo{
    font-family: var(--FuenteHeading);
    font-weight: 700;
}

.carrera_label {
    font-size: 1.4rem;
}

.carreras_lista{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
}

.carreras__facultad{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar_buscador{
    grid-column: 3/4;
}

.lupa{
    background-color: #8d1818;
    width: 3rem;
    padding: .7rem;
    border-radius: 50%;
}

.buscador input{
    border: solid 1px #FBF6F6;
    border-radius: 8px;
    background-color: #FBF6F6;
    height: 25px;
    width: 130px;
    padding: 1.2rem;
}

::placeholder{
    color: #000000;
    font-size: 1.4rem;
}



/* PAGINA WEB 4*/

.texto__FCHJS{
    margin-top: 10rem;
}

.web4{
    margin-bottom: 20rem;
}


/* FOOTER */
footer {
    background-color: var(--colorFooter);
    padding: 5rem 0;
}
.footer{                                /* Display de Grid al Footer para desplegar el texto y el mapa*/
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: 0 20%; /* Esto centra las dos grillas  */
    column-gap: 5rem; /* Esto añade separacion entre las grillas*/
}

.footer__texto{             /* Todos los textos del Footer */
    font-size: 1.5rem;
    margin: 0 2rem;
    color: var(--blanco);
}

.footer__titulo{ /* Los títulos del Footer llevan esta clase (UNAE - UBICACIÓN) */
    color: var(--blanco);
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.info__contacto{ /* Div que contiene los tres textos con sus pines*/
    border-top: 1px solid var(--blanco);
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}

.contacto__ubicacion{  /* Div que contiene un pin y el texto que lo acompaña */
    display: flex;
    align-items: center;
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}


.contacto__ubicacion__pin { /* CLASE PARA LAS IMAGENES AL LADO DEL TEXTO*/
    width: 3rem; 
    height: 3rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 17px;
}

.redes__sociales{ /* El que dice: Seguinos en... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes__sociales__texto{
    margin: 1rem 0;
}

.footer__mapa{
    display: flex;
    flex-direction: column; /* Esto es pa que se alinee el titulo con el mapa*/
    align-items: center;
}

.mapa{
    border-top: 1px solid var(--blanco); /* Esto deja la linea debajo de "ubicación*/
    padding: .8rem 0;
}



