/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Esto coniverte todos los rem a 10 px*/

    

}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif;
    --negro: #000000;
    --blanco: #FFFFFF;
}

/** CONFIGURACIONES GLOBALES **/

header{
    background-color: #B61E2A;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
p  { font-size: 2rem; }

a{
    text-decoration: none;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}


img {
    width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    margin: 0 5%;
}

/* BARRA DE NAVEGACIÓN */

.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}  


.nav_bar_enlace{
    margin: 1.4rem;
}

.logo_con_nombre{
    padding: 1rem;

}

.nav__bar__logo{
    width: 20rem;
}

/* Fin de la barra de navegación */
.logo{
    width: 50rem;
}

.contacto__texto{
    font-family: var(--FuenteHeading);
    color: rgb(75, 128, 110);
}

.contacto{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50rem;
}

.formulario__campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.formulario__label{
    font-family: var(--FuenteHeading);
    font-size: 1.6rem;
    flex: 0 0 10.1rem;
}

.formulario__field{
    flex: 1;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

/*Botones*/
.formulario__boton{
    border: none;
    background-color: #8d1818;
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    padding: .8rem;
    margin: .5rem;
    border-radius: 8px;
}

/*sidebar*/

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{

    background-color:#B61E29;
    border-radius:5px;
}
.carreras__facultad{
    position: absolute;
    width:400px;
    height:300px;
    top:50%;
    margin-top:-350px;
    left:50%;
    margin-left:-200px;

}
.buscador{
position: absolute;
width: 300px;
height: 100px;
margin-left:1500px;
}

.pupa{
position: absolute;
width: 300px;
height: 100px;
margin-left:1561px;
margin-top:29px;

}