/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5% !important; /* Esto coniverte todos los rem a 10 px*/
    margin: 0;
    padding: 0;
}
/* Variables universales */
:root{
    --FuenteHeading: 'Open Sans', sans-serif; /* FUENTE DE GOOGLE FONTS */
    --negro: #000000;
    --blanco: #FFFFFF;
    --colorFooter: #515151;
    --colorNavBar: #B61E2A;
    --celeste: #a7cef3;

}

/** CONFIGURACIONES GLOBALES **/

header{
    background-color: var(--colorNavBar);
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
p  { font-size: 1.6rem; }

a{
    text-decoration: none;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.8rem;
}


img {
    width: 100%; /* Esto es para que las imagenes en general ocupen el 100% de sus contenedores */
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

label {
    font-size: 1.4rem;
}

.col a {
    color: var(--negro);
}

.checkbox{
    width: 20px;
    height: 20px;
}
.contenedor{
    margin: 0 5%; /* Todo lo que contenga esta clase: tendrá un margen del 5% a la izquierda y a la derecha */
}

/* BARRA DE NAVEGACIÓN */

.nav__bar__enlaces a:hover{ /* :hover es lo que pasa cuando se pasa el mouse por el objeto*/
    color: var(--blanco);
    text-decoration: underline;
}

.nav__bar__enlaces{
    align-items: center;
    justify-content: center;
}
.nav__bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}  

.nav_bar_enlace{
    margin: 1.4rem;
}

.logo_con_nombre{
    padding: 1rem;

}

.nav__bar__logo{
    width: 20rem;
}
/* Fin de la barra de navegación */

/* PAGINA 1 - PHILIPPE*/
.logo{
    width: 50rem;
}

.contacto__texto{
    font-family: var(--FuenteHeading);
    color: rgb(75, 128, 110);
}

.contacto{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50rem;
   margin-top: 10rem;
}

/* FORMULARIO (PAGINA 1) */
.formulario__campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.formulario__label{
    font-family: var(--FuenteHeading);
    font-size: 1.6rem;
    flex: 0 0 10.1rem;
}

.formulario__field{
    flex: 1;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

/*FIN DE FORMULARIO (PÁGINA 1)

/*Botones*/
.formulario__boton{
    border: none;
    background-color: #8d1818;
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    padding: .8rem;
    margin: .5rem;
    border-radius: 8px;

}

.formulario__boton:hover{
    cursor: pointer;
}

.formulario_x{
    display: flex;
    margin: 1rem;
}

/*sidebar (PAGINA 1 SOLAMENTE)*/

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Pagina 2 - PHILIPPE */

.imagen__FCHJS {
    border-radius: 72px;
}

.form-check-input{
    width: 20px; height: 20px;
}


.carreras_titulo{
    font-family: var(--FuenteHeading);
    font-weight: 700;
}

.carrera_label {
    font-size: 1.4rem;
}

.carreras_lista{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
}

.carreras__facultad{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar_buscador{
    grid-column: 3/4;
}

.lupa{
    background-color: #8d1818;
    width: 3rem;
    padding: .7rem;
    border-radius: 50%;
}

.lupa:hover {
    cursor: pointer;
}

.buscador input{
    border: solid 1px #FBF6F6;
    border-radius: 8px;
    background-color: #FBF6F6;
    height: 25px;
    width: 130px;
    padding: 1.2rem;
    font-size: 1.4rem;
}


::placeholder::cue{ /*ESTO HACE QUE LOS PLACEHOLDER DE UN FORMULARIO TENGAN */
    color: var(--celeste); 
    font-size: 1.4rem; /* Y un tamaño de fuente de 14px*/
}



/* PAGINA 4 - PHILIPPE BICHO*/

.texto__FCHJS{
    margin-top: 10rem;
}

.web4{
    margin-bottom: 20rem;
}


/* FOOTER */
footer {
    background-color: var(--colorFooter);
    padding: 5rem 0;
}
.footer{                                /* Display de Grid al Footer para desplegar el texto y el mapa*/
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: 0 20%; /* Esto centra las dos grillas  */
    column-gap: 5rem; /* Esto añade separacion entre las grillas*/
}

.footer__texto{             /* Todos los textos del Footer */
    font-size: 1.5rem;
    margin: 0 2rem;
    color: var(--blanco);
}

.footer__titulo{ /* Los títulos del Footer llevan esta clase (UNAE - UBICACIÓN) */
    color: var(--blanco);
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.info__contacto{ /* Div que contiene los tres textos con sus pines*/
    border-top: 1px solid var(--blanco);
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}

.contacto__ubicacion{  /* Div que contiene un pin y el texto que lo acompaña */
    display: flex;
    align-items: center;
    padding: .8rem 0; /* Padding de .8 rem arriba y abajo, 0 a la derecha e izquierda*/
}


.contacto__ubicacion__pin { /* CLASE PARA LAS IMAGENES AL LADO DEL TEXTO*/
    width: 3rem; 
    height: 3rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 17px;
}

.redes__sociales{ /* El que dice: Seguinos en... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes__sociales__texto{
    margin: 1rem 0;
}

.footer__mapa{
    display: flex;          /* Estas tres lineas son para que se alinee el titulo con el mapa*/
    align-items: center;
    flex-direction: column; 
}

.mapa{
    border-top: 1px solid var(--blanco); /* Esto deja la linea debajo de "ubicación*/
    padding: .8rem 0;
}
/*FIN DE FOOTER*/

/* PÁGINA 16 Y 18 - SEBASTIAN HEPP */
.main-s {
    margin: 7rem 5%;
}

.texto__reajuste{
    margin-bottom: 5rem;
}

.contraseña__buscador{
    margin-bottom: 10rem;
}


/* PAGINA 5, 11-15 - Mauricio EL MAS CAPO */
/*Cuerpo */
.container{
    height: 1200px;
    margin-top: 70px;
    width: 60%;
}
/*Titulo principal del cuerpo*/
.container h5{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
/*Logo de la facultad*/
.facat{
    float: left;
    
}

.facat__caja{
    display: flex;
    align-items: center;
    justify-content: start;
}
.p-2 img{
    width: 95%;
}
/*Datos del alumno*/
.datosalumno{
    text-align: left;
}
.datosalumno h4{
    text-align: left;
}
.datosalumno p{
    margin-bottom: 18px;
}
/*CSS de la descripcion del contenido de la pagina*/
.descripcion{
    margin: 0 5%;
}
.descripcion p{
    text-align: left;
}
.dlproyecto img{
    height: 100%;
    width: 100%;
    margin-left: 10%;
    padding-top: 7%;
}
/*Rating dinamico de estrella*/
.rate {
    float: left;
    height: 46px;
    padding: 0 60px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* PAGINA 7 - YISOS */
  /*Cuerpo */
.registro{
    margin-bottom: 20rem;
    width: 45%;
}
.text-registro{
    margin-top: 10rem;
}
.formulario_r{
  display:flex;
  margin-bottom: 2rem; 
}
.años{
  display: flex;
  flex-direction: column; 
}
.campo_label{
  flex: 0 0 15rem;
  padding-right: 1rem;
}

.campo_input{
  flex: 1;
  width: 40%;
  padding: .6rem;
  border: 1px solid var(--colorFooter);
  border-radius: 8px;
}
.campo-input-continuar{
  margin-top: 1.8rem;
  border-radius: 7px;
  align-self: right; 
}
.align-right{
    padding-right: 10rem;
}


/* PAGINA 8 - ROSEMARY*/
/*Cuerpo de la paguina 8 */
.container{
    padding-right: 1rem;
    width: 50rem;
  }
.pag8{
    margin: 0 20%;
}
  .text-subir{
    margin: 9rem 0;
  }
  .formulario_r{
    display:flex;
    margin-bottom: 2rem; 
  }
  .btn{
  width: 15rem;
  border-radius: 10px; 
  }
  .años{
    display: flex;
    flex-direction: column; 
  
  }
  
  .campo{
    display: flex;
    width: 60%; 
    margin-top: 2rem;
  }
  
  .campo-label{
    flex: 0 0 15rem;
    padding-right: 2rem;
  }
  
  .campo-input{
    flex: 1;
    width: 20%;
  
  }
  .textarea{
    height: 12rem;
    width: 10rem;
  
  }
  .formulario-boton{
    padding: 1rem;
    border: 1px solid var(--blanco);
  }
  .campo-input-enviar{
    margin-top: 1.8rem;
    border-radius: 7px;
    align-self: right; 
    
  }
  .boton{
    display:flex;
    justify-content: flex-end;
  }
  /* cuerpo de la paguna 25 */
  .carrer{
    width: 30%;
  }
  
  .continuar{
    margin-top: 2rem; 
  }

/* Pagina de mensaje de error - ALEX ALIAS EL FANTASMA */
.mensaje {
    text-align: center;  
    margin-top: 10rem;
    font-size: 1.4rem;
  }
  
  .error{
    display: flex;  
    flex-direction: column;
    align-items: center;
  justify-content: center;
  margin-bottom: 50rem;
  }
   .error-imagen {
       width: 40rem;
   }
  
  .error-boton { 
      border: none;
      background-color:#B61E2A;
      padding: .8rem;
      border-radius: 5px;
      color: white;
      margin: 3rem;
  }

/* Resultados de la búsqueda - Raisa */

.busqueda{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 30rem 0;
}

.link_n{
    color: var(--negro);
    text-transform: unset;
}


/* PAGINA DE BIENVENIDA ADMIN - Philippe*/

.opciones_admin {
    margin-bottom: 10rem;
}


/* PAGINA DE DISEÑO GRAFICO */
.proyectos{
    display: grid;
    grid-template-columns: .4fr 3fr 4fr 2fr 2fr 4fr;
}

/* INTERRUPTOR */

/* Formateamos el label que servirá de contenedor */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
   
  /* Ocultamos el checkbox html */
  .switch input {
    display:none;
  }
   
  /* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  /* Pintamos la perilla de control o slider usando el selector before */
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  /* Cambiamos el color de fondo cuando el checkbox esta activado */
  input:checked + .slider {
    background-color: #97b335;
  }
   
  /* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
   
  /* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
  .slider.round {
    border-radius: 34px;
  }
   
  .slider.round:before {
    border-radius: 50%;
  }


  /* Texto de las grillas */

  .diseño__texto {
      font-size: 1.4rem;
  }

  .interruptores{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  /* Lizandro*/


.Lista-elemento{
    border-bottom: 1px solid black;
    padding: 1rem; 
    background-color: white;
    align-items: center;


}
.lista{
background-color:#B61E2A;
border-radius: 75%;
width: 2.4rem;
height: 3.1rem;


}
.lista p{
    padding: .5rem;
    color: white;
    font-size: 1.6rem;


    }
.lista_descripcion{
font-size: 2.0rem;

    }

.link_n{
    color: black;
}

.buscador_liz{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}


/*CSS FACAT.html*/

    /* Header */ 
    .contenido {
        margin: 5% 5%;
    }
    
    /*Contenido de body sin el header y footer*/
    .contenedor_y {
        margin: 5% 12%;
    }
    /*CSS del carousel y lo que tiene adentro*/
        .carousel-caption {
            right: 0%;
            left: 0%;
            top: 0%;
            bottom: 0%;
        }

        .logo_FACAT_UNAE a img {
            width: 18%;
            text-align: right;
            margin: 0 0 50px 850px;
        }

        /*CSS del título de las facultades dentro del carousel*/
        .fac {
            margin-right: 200px;
            margin-bottom: 25px;
            font-size: 6rem;
            font-weight: 800;
            text-align: right;
        }

    /*"Seleccione la carrera y año para visualizar los proyectos"*/
    .title {
        font-size: 19px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /*Los años de las diferentes carreras como un bloque grande*/
    .proyectos_y {
        text-align: left;
    }

    .proyectos_y a {
        text-decoration: none;
        text-transform: none;
    }

    /*Los años de las carreras*/
    .col-5 h3 {
        font-size: 1.5rem;
        color: black;
        padding-bottom: 15px;
        font-weight: normal;
    }

    .col-5 {
        margin-bottom: 50px;
    }

    .col-5 h2 {
        font-size: 19px; 
        padding-bottom: 15px;
    }




/*CSS página historia UNAE*/

    /*Título "Historia de la UNAE"*/
    .Historia h1 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    /*Imágen campus*/
    .col-sm {
        padding-left: 20px;
        padding-top: 5px;
    }

    /*Texto al lado de la imágen*/
    .col-8 {
        margin: 0;
        padding-left: 25px;
        padding-right: 30px;
    }

    .col-8 p {
        font-size: 12px;
    }

    /*Texto abajo de la imágen y el otro texto*/
    .texto {
        padding-left: 5px;
        padding-right: 30px;
    }

    .texto p {
        font-size: 12px;
    }

    /*Título "Carreras"*/
    .carreras h2 {
        text-align: center;
        font-size: 19px;
        padding-bottom: 20px;
    }

    .carreras {
        padding-top: 100px;
    }

    /*La última parte de "Para más información..."*/
    .saigo {
        padding-top: 20px;
        text-align: center;
    }

    .saigo a {
        text-transform: none;
    }

    .saigo p {
        font-size: 12px;
        margin: 0;
    }


    /*Cuadro de advertencia 1*/
.cuadro_adver {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.cuadro {
    border:solid;
    border-color: #B61E2A;
    border-radius: 15px;
    align-items: center;
}

.cuadro p {
    font-size: 12px;
    margin-left: 20px;
}

.cuadro a {
    font-size: 12px;
    color: black;
    text-transform: none;
    text-decoration:none;
}

.col-12 {
    margin: 15px 0;
}

.col-6 {
    text-align: center;
}

/*Cuadro de advertencia 2, 3, 4, 5*/
.cuadro_princ {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro_sec{
    border:solid;
    border-color: #B61E2A;
    border-radius: 15px;
    margin-top: 150px;
}

.size {
    margin: 50px 70px;
}

.options a {
    font-size: 12px;
    color: black;
    text-transform: none;
    text-decoration:none;
}

.options p {
    font-size: 12px;
    padding-bottom: 10px;
}

.options {
    text-align: center;
}

.acceder {
    text-align: right;
    padding-right: 10px;
}